## This file is a general .ucf for the ZYBO Rev B board
## To use it in a project:
## - uncomment the lines corresponding to used pins
## - rename the used signals according to the project

## Clock signal
NET "clk"        LOC=L16 | IOSTANDARD=LVCMOS33; #IO_L11P_T1_SRCC_35	
NET "clk" TNM_NET = sys_clk_pin;
TIMESPEC TS_sys_clk_pin = PERIOD sys_clk_pin 125 MHz HIGH 50%; 

## Switches
NET "enable"      LOC=G15 | IOSTANDARD=LVCMOS33; #IO_L19N_T3_VREF_35
NET "reset_n"     LOC=T16 | IOSTANDARD=LVCMOS33; #IO_L19N_T3_VREF_35

## Buttons
NET "up_btn"     LOC=V16 | IOSTANDARD=LVCMOS33 | CLOCK_DEDICATED_ROUTE = FALSE; #IO_L20N_T3_34
NET "down_btn"   LOC=P16 | IOSTANDARD=LVCMOS33 | CLOCK_DEDICATED_ROUTE = FALSE; #IO_L20N_T3_34
NET "left_btn"   LOC=Y16 | IOSTANDARD=LVCMOS33 | CLOCK_DEDICATED_ROUTE = FALSE; #IO_L20N_T3_34
NET "right_btn"  LOC=R18 | IOSTANDARD=LVCMOS33 | CLOCK_DEDICATED_ROUTE = FALSE; #IO_L20N_T3_34


## VGA Connector
NET "red<0>"      LOC=M19 | IOSTANDARD=LVCMOS33; #IO_L7P_T1_AD2P_35
NET "red<1>"      LOC=L20 | IOSTANDARD=LVCMOS33; #IO_L9N_T1_DQS_AD3N_35
NET "red<2>"      LOC=J20 | IOSTANDARD=LVCMOS33; #IO_L17P_T2_AD5P_35
NET "red<3>"      LOC=G20 | IOSTANDARD=LVCMOS33; #IO_L18N_T2_AD13N_35
NET "red<4>"      LOC=F19 | IOSTANDARD=LVCMOS33; #IO_L15P_T2_DQS_AD12P_35
NET "green<0>"    LOC=H18 | IOSTANDARD=LVCMOS33; #IO_L14N_T2_AD4N_SRCC_35
NET "green<1>"    LOC=N20 | IOSTANDARD=LVCMOS33; #IO_L14P_T2_SRCC_34
NET "green<2>"    LOC=L19 | IOSTANDARD=LVCMOS33; #IO_L9P_T1_DQS_AD3P_35
NET "green<3>"    LOC=J19 | IOSTANDARD=LVCMOS33; #IO_L10N_T1_AD11N_35
NET "green<4>"    LOC=H20 | IOSTANDARD=LVCMOS33; #IO_L17N_T2_AD5N_35
NET "green<5>"    LOC=F20 | IOSTANDARD=LVCMOS33; #IO_L15N_T2_DQS_AD12N_35
NET "blue<0>"     LOC=P20 | IOSTANDARD=LVCMOS33; #IO_L14N_T2_SRCC_34
NET "blue<1>"     LOC=M20 | IOSTANDARD=LVCMOS33; #IO_L7N_T1_AD2N_35
NET "blue<2>"     LOC=K19 | IOSTANDARD=LVCMOS33; #IO_L10P_T1_AD11P_35
NET "blue<3>"     LOC=J18 | IOSTANDARD=LVCMOS33; #IO_L14P_T2_AD4P_SRCC_35
NET "blue<4>"     LOC=G19 | IOSTANDARD=LVCMOS33; #IO_L18P_T2_AD13P_35
NET "h_sync"      LOC=P19 | IOSTANDARD=LVCMOS33; #IO_L13N_T2_MRCC_34
NET "v_sync"      LOC=R19 | IOSTANDARD=LVCMOS33; #IO_0_34
